<body class="text-center" style="height: 100vh;">
    
    <main class="form-signin animated fadeIn ">
      <form (ngSubmit)="onSubmit( f )" #f="ngForm">
        <img [routerLink]="['/home']"  class="mb-4" src="../../../assets/logoap.png" alt="" width="100" height="57">
        <h1 class="h3 mb-3 fw-normal">Me gustaria conocerte</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="nombre"  [(ngModel)]="usuario.nombre" >
            <label for="floatingInput">Tu Nombre</label>
          </div>
          <br>
          <div class="form-floating">
            <select name="servicio"   [(ngModel)]="usuario.servicio"  class="form-select" aria-label="Default select example">
                <option class="dropdown-item" disabled selected value="undefined">Estoy interesado...</option>
                <option value="desarollo">Desarollo</option>
                <option value="diseño">Diseño</option>
                <option value="fotografia">Fotografia/audiovisual</option>
                <option value="fotografia">Mundo Digital</option>
              </select>
          </div>
          <br>

          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="telefono"  [(ngModel)]="usuario.telefono">
            <label for="floatingInput">Telefono</label>
          </div>
          <br>
          
    
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email"  required email
          [(ngModel)]="usuario.email">
          <label for="floatingInput">Correo eletronico</label>
        </div>
        <br>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword"  name="password"  [(ngModel)]="usuario.password" placeholder="Password" >
          <label for="floatingPassword">Password</label>
        </div>
    
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Recuerdame
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Registrarme</button>
        <p class="mt-5 mb-3 text-muted">&copy; climbLabs 2021</p>
      </form>
    </main>
    
    
        
      </body>