<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Leeds</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        

    </div>

    
  </div>

  <div class="row">

    <div class="">

        <form (ngSubmit)="onSubmit( f )" #f="ngForm" >

        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="usuario" type="text" name="nombre" placeholder="Nombre" r
            [(ngModel)]="usuario.nombre" >
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Nombre / Usuario</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="usuario" type="email" name="email" placeholder="Email" required email
            [(ngModel)]="usuario.email" >
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Contraseña</label>
            <input type="text" class="form-control" name="password"  [(ngModel)]="usuario.password" placeholder="Password" id="formGroupExampleInput2" placeholder="Contraseña">
          </div>

          <button type="submit" class="btn btn-primary">Crear</button>



        </form>



    </div>

    <div class="col">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">nombre</th>
                <th scope="col">telefono</th>
                <th scope="col">correo</th>
                <th scope="col">servicio</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let usuario of usuarios; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.telefono}}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.servicio }}</td>
              </tr>
     
            </tbody>
          </table>
    </div>
  </div>


