
  <body>
    
<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
    
        <li class="nav-item">
          <a class="nav-link" href="#">Ciencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mundo digital</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>


      </ul>
  
      <form class="d-flex">

        <button type="button" [routerLink]="['/registro']" class="btn btn-link text-white">Registrate</button>
    
        <button [routerLink]="['/login']"   class="btn btn-outline-light" >Log In</button>
      </form>
    </div>
  </div>
</nav>
-->

  <div class="banner text-center p-5 rounded ">
    <h1>Hola <br> Soy Alejandro Palomino</h1>
    <p class="lead">Diseñador  -  Desarollador  -  Fotógrafo</p>
    <a class="btn btn-lg btn-light mt-2" href="#contactame">Contáctame</a>
  </div>

  
  <div class="col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class=" col-sm-8 align-items-center col-lg-6">
        <img src="../../../assets/yop.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h2>Sobre Mi</h2>
        <h1 class="display-5 fw-bold lh-1 mb-3">Quien Soy Yo?</h1>
        <p class="lead">Soy un apasionado de la tecnología que busca entender los insights para convertirlos en oportunidades para generar valor. Diseño y desarrollo experiencias centradas en las personas.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Descargar CV</button>
        
        </div>
      </div>
    </div>
  </div>



  <div class="container px-4 py-5" id="featured-3" style="margin-top: 7vh;
  margin-bottom: 8vh;">
    <h2 class="pb-2 border-bottom">Mis Skills</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <i class="fas fa-layer-group"></i>
        </div>
        <h2>Desarrollo</h2>
        <p>Desarrollo front y backend de sistemas organizacionales y personales. Busco a través de la ingeniería de requerimientos, entender lo que busca el cliente y a través del UX, encontrar la aceptación del usuario.</p>
 
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <i class="fas fa-drafting-compass"></i>
        </div>
        <h2>Diseño</h2>
        <p>Construir y diseñar piezas visuales es un proceso de pensamiento colectivo buscando entender todos los signos y elementos y expresarlos de forma gráfica. Diseño productos digitales para el nuevo consumidor digital.</p>

      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <i class="fas fa-camera"></i>
        </div>
        <h2>Fotografía</h2>
        <p>Capturar el momento ideal es el reto de los fotografos. Las fotos son una máquina del tiempo que nos llevan a un momento especial y resumen toda una historia en un segundo. Capturo momentos mágicos.</p>
   
      </div>
    </div>
  </div>
  <br>

  <div class="fondo">
    
    <div class="container mt-5">
      <h2 class="pb-2 mt-5  border-bottom" style=" margin-bottom: 117px;">Mi Experiencia</h2>
      
      <div class="main-timeline mt-2">
      
                              <!-- start experience section-->
                              <div class="timeline ">
                                  <div style="top:-50px" class="icon"></div>
                                  <div class="date-content">
                                      <div class="date-outer">
                                          <span class="date">
                                                  <span class="month">1 Año</span>
                                          <span class="year">2014</span>
                                          </span>
                                      </div>
                                  </div>
                                  <div class="timeline-content">
                                    <div class="card " w-75>
                                      <div class="card-body ">
                                        <h5 class="card-title">Fotografía &amp; Audiovisual</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">IPAD</h6>
                                        <p class="card-text">He realizado proyectos visuales y desarrollo de contenidos para la marca AQARÁ, el primer destilado de agave elaborado en los Andes Peruanos.</p>
                                        <p>Proyectos:</p>
                                     
                                        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" style=" margin-top: 10px;" data-bs-target="#aqara">
  AQARÁ
</button>
<button type="button" class="btn btn-primary" style="margin-left: 10px; margin-top: 10px;" data-bs-toggle="modal"
  data-bs-target="#miel">
  Miel de Agave
</button>
<button type="button" class="btn btn-primary" style="margin-left: 10px; margin-top: 10px;" data-bs-toggle="modal"
  data-bs-target="#night">
  Nights
</button>

<button type="button" class="btn btn-primary" style="margin-left: 10px; margin-top: 10px;" data-bs-toggle="modal"
  data-bs-target="#agave">
  Agave
</button>

<!-- Modal -->
<div class="modal fade" id="aqara" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">AQARÁ - Revista cocktail.pe</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>La Sesión de Fotos</h5>
        <p>Fotos elaboradas para AQARÁ Agave de los Andes, tomadas en la ciudad de Caraz, Callejón de Huaylas donde se encuentra la
          planta destiladora, los campos de agaves silvestres y la Laguna de Paron, cuyas aguas son la fuente para la elaboración de este destilado que a la fecha ha ganado diversos premios a nivel mundial.</p>
        <hr>
        
          <div class="row" >
            <a href="#"  onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
              <img src="../../../assets/aqara/a1.jpeg" class="img-fluid rounded">
            </a>
            <a href="#"  onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
              <img src="../../../assets/aqara/a2.jpeg" class="img-fluid rounded">
            </a>
            <a href="#"  onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
              <img src="../../../assets/aqara/a3.jpeg" class="img-fluid rounded">
            </a>
          </div>
          <div class="row " >
            <a href="#"  onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
              <img src="../../../assets/aqara/a5.jpeg" class="img-fluid rounded">
            </a>
            <a href="#"  onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
              <img src="../../../assets/aqara/a6.jpeg" class="img-fluid rounded">
            </a>
            <a href="#"  onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
              <img src="../../../assets/aqara/a7.jpeg" class="img-fluid rounded">
            </a>
          </div>
          <div class="row " >
            <a href="#"  onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
              <img src="../../../assets/aqara/a8.jpeg" class="img-fluid rounded">
            </a>
     
           
           
          </div>
          <h5 class="mt-5">La Revista</h5>
          
          <p>Las fotografías fueron publicadas en la revista física y versión web para la edición de junio y julio del 2019.</p>
          <hr>
          <div class="row ">
            <a href="#" onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col-md-6">
              <img src="../../../assets/revista2.jpg" class="img-fluid rounded">
            </a>
            <a href="#" onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col-md-6">
              <img src="../../../assets/revista1.jpg" class="img-fluid rounded">
            </a>
          </div>
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="miel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Miel</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Fotografías realizadas para una campaña en redes sociales en conjunto, para promocionar la
           Miel de Agave de los Andes y Vegolatte, en un ambiente artesanal que refleje sus orígenes andinos peruanos.</p>
        
          <div class="row" >
            <a href="#"  onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col">
              <img src="../../../assets/miel/miel1.jpg" class="img-fluid rounded">
            </a>
      
          </div>
          <div class="row " >
            <a href="#"  onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col">
              <img src="../../../assets/miel/miel2.jpg" class="img-fluid rounded">
            </a>
  
          </div>
    
        
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="night" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">AQARÁ Nights</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>  Las noches en Caraz, Perú son únicas. La barra de AQARÁ en la Casona Lara Lodge & Destilery ofrece una gama de cocteles y cata de sus productos a los pies de la Cordillera Blanca con una vista privilegiada de la destilería.

          Video realizado para promocionar las noches de Open Bar de la Casona Lara con AQARÁ Agave de los Andes como bebida bandera.</p>

      
        <br>
        
          <div class="row" >
            <iframe width="560" height="315" src="https://www.youtube.com/embed/d6wMgWJyjN8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
          </div>

    
        
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="agave" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">La Ruta del Agave</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p> Video realizado para AQARÁ en uno de sus primeros lanzamientos en la cual se buscó transmitir lo agreste y salvaje que es la
          Ruta del Agave, con tomas del Callejón de Huaylas que son el orígen de este destilado peruano artesanal premium.</p>

      
        <br>
        
          <div class="row" >
            <iframe width="560" height="315" src="https://www.youtube.com/embed/sQg9zhxCpaw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
          </div>

    
        
      </div>

    </div>
  </div>
</div>
                                      </div>
                                    </div>
                               
                                      
                                  </div>
                              </div>
                              <!-- end experience section-->
      
                              <!-- start experience section-->
                              <div class="timeline">
                                  <div style="top:10px" class="icon"></div>
                                  <div class="date-content">
                                      <div class="date-outer">
                                          <span class="date" >
                                                  <span class="month">2,5 Años</span>
                                          <span class="year">2015</span>
                                          </span>
                                      </div>
                                  </div>
                                  <div class="timeline-content">
                                    <div class="card " w-75>
                                      <div class="card-body ">
                                        <h5 class="card-title">Ingeniería Industrial</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">USIL</h6>
                                        <p class="card-text">Apoyé a la empresa VWise del Perú para el desarrollo de distintos proyectos de implementación de RFID en empresas en diferentes sectores (educación, operación logística y restauración).</p>
                                        <p></p>
                                     
                                        <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#aqara">
  Aqara
</button>
<button type="button" class="btn btn-primary" style="margin-left: 10px;" data-bs-toggle="modal" data-bs-target="#miel">
  Miel
</button>
<button type="button" class="btn btn-primary" style="margin-left: 10px;" data-bs-toggle="modal" data-bs-target="#night">
  Nights
</button>
<button type="button" class="btn btn-primary" style="margin-left: 10px;" data-bs-toggle="modal" data-bs-target="#faro">
  faro
</button>
<button type="button" class="btn btn-primary" style="margin-left: 10px;" data-bs-toggle="modal" data-bs-target="#agave">
  Agave
</button> -->

<!-- Modal -->
<div class="modal fade" id="aqara" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Aqara</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Fotografías de AQARÁ Agave de los Andes para la Revista Cocktail</p>
        
          <div class="row" >
            <a href="#"  onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
              <img src="../../../assets/aqara/a1.jpeg" class="img-fluid rounded">
            </a>
            <a href="#"  onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
              <img src="../../../assets/aqara/a2.jpeg" class="img-fluid rounded">
            </a>
            <a href="#"  onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
              <img src="../../../assets/aqara/a3.jpeg" class="img-fluid rounded">
            </a>
          </div>
          <div class="row " >
            <a href="#"  onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
              <img src="../../../assets/aqara/a5.jpeg" class="img-fluid rounded">
            </a>
            <a href="#"  onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
              <img src="../../../assets/aqara/a6.jpeg" class="img-fluid rounded">
            </a>
            <a href="#"  onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
              <img src="../../../assets/aqara/a7.jpeg" class="img-fluid rounded">
            </a>
          </div>
          <div class="row " >
            <a href="#"  onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
              <img src="../../../assets/aqara/a8.jpeg" class="img-fluid rounded">
            </a>
     
           
           
          </div>
        
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="miel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">miel</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
          <div class="row" >
            <a href="#"  onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col">
              <img src="../../../assets/miel/miel1.jpg" class="img-fluid rounded">
            </a>
      
          </div>
          <div class="row " >
            <a href="#"  onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col">
              <img src="../../../assets/miel/miel2.jpg" class="img-fluid rounded">
            </a>
  
          </div>
    
        
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="night" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Aqara nights</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>  Las noches en caraz, Peru son unicas, en el cual puedes pasarte y tomar un drink a los pies de la cordillera de los andes.

          Corto realizado para fomentar las noches de la Open Bar de la casona lara en el cual tiene como bebida bandera el agave de los andes</p>

      
        <br>
        
          <div class="row" >
            <iframe width="560" height="315" src="https://www.youtube.com/embed/d6wMgWJyjN8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
          </div>

    
        
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="faro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">El faro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>  Las noches en caraz, Peru son unicas, en el cual puedes pasarte y tomar un drink a los pies de la cordillera de los andes.

          Corto realizado para fomentar las noches de la Open Bar de la casona lara en el cual tiene como bebida bandera el agave de los andes</p>

      
        <br>
        
          <div class="row" >
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lF_by5GxMCY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
          </div>

    
        
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="agave" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">La ruta del agave</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>  Las noches en caraz, Peru son unicas, en el cual puedes pasarte y tomar un drink a los pies de la cordillera de los andes.

          Corto realizado para fomentar las noches de la Open Bar de la casona lara en el cual tiene como bebida bandera el agave de los andes</p>

      
        <br>
        
          <div class="row" >
            <iframe width="560" height="315" src="https://www.youtube.com/embed/sQg9zhxCpaw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
          </div>

    
        
      </div>

    </div>
  </div>
</div>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                              <!-- end experience section-->
      
                              <!-- start experience section-->
                              <div class="timeline">
                                  <div style="top:-100px" class="icon"></div>
                                  <div class="date-content">
                                      <div class="date-outer">
                                          <span class="date">
                                                  <span class="month">2 Años</span>
                                          <span class="year">2019</span>
                                          </span>
                                      </div>
                                  </div>
                                  <div class="timeline-content">
                                    <div class="card " w-75>
                                      <div class="card-body ">
                                        <h5 class="card-title">Diseño Gráfico</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">CREHANA</h6>
                                        <p class="card-text">Realizé distintos proyectos digitales para elaboración de marcas y contenidos para redes.</p>
                                        <p>Proyectos:</p>
                                     
                                        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" style="margin-top: 10px;" data-bs-target="#aqara1">
  Redes Sociales
</button>
<button type="button" class="btn btn-primary" style="margin-left: 10px; margin-top: 10px;" data-bs-toggle="modal"
  data-bs-target="#inlog">
  Story Telling
</button>
<button type="button" class="btn btn-primary" style="margin-left: 10px; margin-top: 10px;" data-bs-toggle="modal"
  data-bs-target="#Pakagin">
  Packaging
</button>
<button type="button" class="btn btn-primary" style="margin-left: 10px; margin-top: 10px;" data-bs-toggle="modal"
  data-bs-target="#ui">
  UI
</button>
<button type="button" class="btn btn-primary" style="margin-left: 10px; margin-top: 10px;" data-bs-toggle="modal"
  data-bs-target="#man">
  Branding
</button>

<!-- Modal -->
<div class="modal fade" id="aqara1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">AQARÁ - Creando Momentos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        
          <div class="row" >
            <img src="../../../assets/aqara/redes.png" alt="">
          </div>
 
     
        
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="inlog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Story Telling</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
          <div class="row" >
          <img style="height: min-intrinsic;" src="../../../assets/inlog.png" alt="">
      
          </div>
  
    
        
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="Pakagin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Aputiksi - Packaging</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      
      
        <br>
        
        <div class="row">
          <img style="height: min-intrinsic;" src="../../../assets/aputiksi.png" alt="">
      
          </div>

    
        
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="ui" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">CoverUp Broker Digital UI</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        

      
        <br>
        
        <div class="row">
          <img style="height: min-intrinsic;" src="../../../assets/cover.png" alt="">
      
          </div>

    
        
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="man" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Narihualá Brand </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <br>
        
        <div class="row">
          <img style="height: min-intrinsic;" src="../../../assets/mancora.png" alt="">
          <img style="height: min-intrinsic;" src="../../../assets/mancora2.png" alt="">
      
          </div>

    
        
      </div>

    </div>
  </div>
</div>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                              <!-- end experience section-->
      
                              <!-- start experience section-->
                              <div class="timeline">
                                  <div style="top:-80px" class="icon"></div>
                                  <div class="date-content">
                                      <div class="date-outer">
                                          <span class="date">
                                                  <span class="month">1 año</span>
                                          <span class="year">2020</span>
                                          </span>
                                      </div>
                                  </div>
                                  <div class="timeline-content">
                                    <div class="card " w-75>
                                     <div class="card-body ">
                                        <h5 class="card-title">Desarollo de Software</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">ISIL</h6>
                                        <p class="card-text">Diseño y desarrollo de sistemas para soluciones empresariales.</p>
                                        <p>Proyectos:</p>
                                     
                                        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" style="margin-top: 10px;" data-bs-toggle="modal" data-bs-target="#snake">
  SnakeJS
</button>
<button type="button" class="btn btn-primary" style="margin-left: 10px; margin-top: 10px;" data-bs-toggle="modal"
  data-bs-target="#scra">
  WebScraping
</button>
<button type="button" class="btn btn-primary" style="margin-left: 10px; margin-top: 10px;" data-bs-toggle="modal"
  data-bs-target="#ani">
  AnimatedWeb
</button>
<button type="button" class="btn btn-primary" style="margin-left: 10px; margin-top: 10px;" data-bs-toggle="modal"
  data-bs-target="#api">
  WebAPI
</button>
<button type="button" class="btn btn-primary" style="margin-left: 10px; margin-top: 10px;" data-bs-toggle="modal"
  data-bs-target="#react">
  ReactAPP
</button>

<!-- Modal -->
<div class="modal fade" id="snake" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Snake Game JavaScript</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="text-align: left;">Desarollo del famoso videojuego snake en html con la lógica desarollada en javascrip, el
          cual opera mediante
          funciones elaboradas en javascript puro. Es una concatenación de elementos en el cual a medida que va consumiendo la
          comida estos elemenos se van concatenando.</p>
        
          <div class="row" >
            <a href="#" onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col-md-6">
              <img style="    width: -webkit-fill-available;" src="../../../assets/snakeinfo.png" class="img-fluid rounded">
            </a>
            <a href="#" onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col-md-6">
              <img src="../../../assets/snake.png" class="img-fluid rounded">
            </a>
            <div class="d-grid gap-2 col-6 mx-auto">
              <a class="btn btn-success" type="button" target="_blank" href="http://zencloud.space/proyectos_html/snake">Lunch
                Game</a>
            </div>
</div>
</div>

</div>
  </div>
  </div>
<div class="modal fade" id="scra" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Web Scraping</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <p style="text-align: left;">Desarrollo de un sistema que escucha la información de una web y al momento que este valor
          cambia, la almacena y la
          guarda en una base de datos en SQL. Para esto se usó información de la Bolsa de Valores de Alicorp, actualizando sus valores durante el día. <br> <br> La programación es en Javascript puro, usando la librería de Puppteer
          para la escucha y captura de la información y NodeJs para la distribución de paquetes.</p>
          <div class="row" >
            <a href="#" onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col-md-6">
              <img style="    width: -webkit-fill-available;" src="../../../assets/webscraping.png" class="img-fluid rounded">
            </a>
            <a href="#" onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col-md-6">
              <img src="../../../assets/bdwebsraping.png" class="img-fluid rounded">
            
            </a>
            <div class="d-grid gap-2 col-6 mx-auto">
              <a class="btn btn-success" type="button" target="_blank" href="https://github.com/zentaker/WebscrapingBVL">Ver
                Código</a>
            </div>

          </div>
    
        
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="ani" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">AnimatedWeb</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="text-align: left;">Desarollo de webs animadas con distintas librerías que permiten un interfase muy amigable
          para los usuarios. Se utilizó la librería de Gsap para realizar las animaciones de la web.</p>
        <div class="row">

            <a href="#" onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
              <img style="    width: -webkit-fill-available;" src="../../../assets/gsap.png" class="img-fluid rounded">
            </a>

          </div>
        
          <div class="row" >
            <a href="#" onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col">
              <img style="    width: -webkit-fill-available;" src="../../../assets/animacion.png" class="img-fluid rounded">
            </a>
            
            </div>
            <div class="row">
              <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-success" type="button" target="_blank"
                  href="http://zencloud.space/proyectos_html/Music-Website-Theme-master-2">Lunch
                  Web</a>
              </div>
            </div>

    
        
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="api" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Web Películas - TMDB</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="text-align: left;"> Single Page aplication desarollada en angular mediante typescript, en la cual puedes
          visualizar y buscar las últimas películas.  La app es alimentada por un api de películas de The Movie DB.
        </p>

      
        <br>
        
        <div class="row">
          <a href="#" onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col-md-6">
            <img style="    width: -webkit-fill-available;" src="../../../assets/paginamovie.png" class="img-fluid rounded">
          </a>
          <a href="#" onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col-md-6">
            <img src="../../../assets/moviedbapi.png" class="img-fluid rounded">
          </a>
          <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-success" type="button" target="_blank" href="#">Lunch
              Web</a>
          </div>
          </div>

    
        
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="react" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ReactAPP</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="text-align: left;">Desarollo de un app para poder gestionar tus seguros y poder saber cuando están por
          vencer. Está desarollado mediante react app de manera híbrida para IOS y 
          Android. <br> <br> La información es
          almacenada en la nube de firebase la cual es consumida on demand así como también de la gestión de usuarios.</p>
        <div class="row">
          <a href="#" onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col-md-6">
            <img style="    width: -webkit-fill-available;" src="../../../assets/pru1.png" class="img-fluid rounded">
          </a>
          <a href="#" onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col-md-6">
            <img src="../../../assets/pru2.png" class="img-fluid rounded">
          </a>
        </div>

            <div class="row">
              <a href="#" onclick="return false" data-toggle="lightbox" data-gallery="gallery" class="col">
                <img src="../../../assets/firebase prudenza.png" class="img-fluid rounded">
              </a>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
              <a class="btn btn-success" type="button" target="_blank"
                href="https://github.com/zentaker/OrganizacionPolizas-APP">View
                Code</a>
            </div>
            </div>

    </div>
  </div>
</div>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                              <!-- end experience section-->
      
                          </div>
      </div>
  </div>


  
  <div class="container mt-5 px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Herramientas</h2>

    <div class="row  row-cols-md-3 row-cols-lg-2 g-2 py-5">
      <div class="col d-flex mb-3 align-items-start">
        <div class="bi text-muted flex-shrink-0 me-3" ><span style="font-size: 2em; color: #0d6efd;">
          <i class="fas fa-layer-group"></i>
        </span></div>
        
        <div style="    width: 100%;     padding-right: 37px;">
          <h4 class="fw-bold mb-2">JavaScript Fulstack</h4>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 30%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">Angular 60%</div>
            <div class="progress-bar bg-success" role="progressbar" style="width: 20%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">React 30%</div>
            <div class="progress-bar bg-info" role="progressbar" style="width: 30%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">Firebase 60%</div>
          </div>
        </div>
      </div>
      <div class="col d-flex mb-3 align-items-start">
        <div class="bi text-muted flex-shrink-0 me-3" ><span style="font-size: 2em; color: #0d6efd;">
          <i class="far fa-window-alt"></i>
        </span></div>
        
        <div style="    width: 100%;     padding-right: 37px;">
          <h4 class="fw-bold mb-2">Web Develop</h4>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">HTML 90%</div>
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">CSS 90%</div>
            <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">PHP 80%</div>
            <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">AJAX 60%</div>
          </div>
         
       
        </div>
      </div>
      <div class="col d-flex  mb-3  align-items-start">
        <div class="bi text-muted flex-shrink-0 me-3" ><span style="font-size: 2em; color: #0d6efd;">
          <i class="fas fa-code"></i>
        </span></div>
        
        <div style="    width: 100%;     padding-right: 37px;">
          <h4 class="fw-bold mb-2">Python</h4>
          <div class="progress">
            <div class="progress-bar " role="progressbar" style="width: 40%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">40%</div>
          
          </div>
         
       
        </div>
      </div>
      <div class="col d-flex  mb-3  align-items-start">
        <div class="bi text-muted flex-shrink-0 me-3" ><span style="font-size: 2em; color: #0d6efd;">
          <i class="fas fa-code"></i>
        </span></div>
        
        <div style="    width: 100%;     padding-right: 37px;">
          <h4 class="fw-bold mb-2">SQL Server</h4>
          <div class="progress">
            <div class="progress-bar " role="progressbar" style="width: 70%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">70%</div>
          
          </div>
         
       
        </div>
      </div>
      <div class="col d-flex  mb-3  align-items-start">
        <div class="bi text-muted flex-shrink-0 me-3" ><span style="font-size: 2em; color: #0d6efd;">
          <i class="far fa-image"></i>
        </span></div>
        
        <div style="    width: 100%;     padding-right: 37px;">
          <h4 class="fw-bold mb-2">Photoshop</h4>
          <div class="progress">
            <div class="progress-bar " role="progressbar" style="width: 90%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">90%</div>
          
          </div>
         
       
        </div>
      </div>
      <div class="col d-flex  mb-3  align-items-start">
        <div class="bi text-muted flex-shrink-0 me-3" ><span style="font-size: 2em; color: #0d6efd;">
          <i class="fas fa-pen-fancy"></i>
        </span></div>
        
        <div style="    width: 100%;     padding-right: 37px;">
          <h4 class="fw-bold mb-2">Ilustrator</h4>
          <div class="progress">
            <div class="progress-bar " role="progressbar" style="width: 90%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">90%</div>
          
          </div>
         
       
        </div>
      </div>
     
      
    </div>
  </div>

  
  <div id="contactame" name="contactame" class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Contáctame</h1>
        <p class="col-lg-10 fs-4">Encantado de poder conversar y descubrir soluciones en forma conjunta. </p>
        <div class="card col-lg-10 mb-2">
          <div class="card-body">
            alejandro@climblabs.io
          </div>
        </div>
        <div class="card col-lg-10">
          <div class="card-body">
            (511) 943 853 382
          </div>
        </div>
        
        
      </div>
      <div class="col-md-10 mx-auto col-lg-5">

        <form class="p-4 p-md-5 border rounded-3 bg-light" (ngSubmit)="onSubmit( f )" #f="ngForm">

  
          <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="nombre"  [(ngModel)]="usuario.nombre" >
              <label for="floatingInput">Tu Nombre</label>
            </div>
            <br>
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="telefono"
                [(ngModel)]="usuario.telefono">
              <label for="floatingInput">Teléfono</label>
            </div>
            <br>

          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email"  required email
            [(ngModel)]="usuario.email">
            <label for="floatingInput">Correo Eletrónico</label>
          </div>
          <br>
          <div class="form-floating">
            <textarea class="form-control" [(ngModel)]="usuario.coment" placeholder="Leave a comment here" name="coment"
              id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Comments</label>
          </div>
      
          <div class="checkbox mb-3">

          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Enviar</button>
       
        </form>
      </div>
    </div>
  </div>

  <footer class="blog-footer">
  <div class="footer-social-icons">
    <h4 class="">Sígueme en:</h4>
    <ul class="social-icons justify-content-center">
      <li><a href="https://www.instagram.com/cspacedesigns/" class="social-icon"><i class="fab fa-instagram"></i></a></li>
      <li><a href="https://www.behance.net/alejandpalomin3" class="social-icon"><i class="fab fa-behance"></i></a></li>
      <li><a href="https://github.com/zentaker" class="social-icon"><i class="fab fa-github"></i></a></li>
  
    </ul>
  </div>
  <p>Web page build for <a href="#">Alejandro Palomino</a> by <a href="http://climblabs.io">ClimbLabs</a>.</p>
    <p>
      <a href="#">Back to Top</a>
    </p>
  </footer>







  

      
  </body>
